In [ ]:
import pandas as pd
from google.colab import drive
import numpy as np
from datetime import datetime

drive.mount('/content/drive')

path = '/content/drive/MyDrive/Aircraft_Parking_Activity_Records_at_SFO.csv'

import pandas as pd
df = pd.read_csv(path)
df

Mounted at /content/drive

,Source ID,Source Type,Start Date,End Date,Reserving Company,Operator Company,Model,Tail Number,Spot,data_as_of,data_loaded_at
0,296461,callin,2025/03/30 10:00:00 PM,2025/03/31 07:00:00 AM,Alaska Airlines,Alaska Airlines,B737-900,N293AK,B-015,2025/05/01 10:29:40 PM,2025/05/02 04:26:34 PM
1,296441,callin,2025/03/30 11:45:00 PM,2025/03/31 06:30:00 AM,Alaska Airlines,Alaska Airlines,B737-900,N297AK,B-011,2025/05/01 10:29:40 PM,2025/05/02 04:26:34 PM
2,296113,callin,2025/03/30 09:30:00 PM,2025/03/31 08:00:00 AM,Alaska Airlines,Alaska Airlines,B737-900,N318AS,41-19,2025/05/01 10:29:40 PM,2025/05/02 04:26:34 PM
3,296111,callin,2025/03/30 09:30:00 PM,2025/03/31 08:00:00 AM,Alaska Airlines,Alaska Airlines,B737-900,N419AS,41-20,2025/05/01 10:29:40 PM,2025/05/02 04:26:34 PM
4,296109,callin,2025/03/30 09:30:00 PM,2025/03/31 07:00:00 AM,Alaska Airlines,Alaska Airlines,B737-800,N524AS,12-06,2025/05/01 10:29:40 PM,2025/05/02 04:26:34 PM
...,...,...,...,...,...,...,...,...,...,...,...
176461,290,standing,2009/08/05 03:00:00 AM,2009/08/05 04:45:00 AM,Nippon Cargo Airlines,Nippon Cargo Airlines,B747-400,NaN,50-01,2025/05/01 10:30:44 PM,2025/05/02 04:26:34 PM
176462,290,standing,2009/08/04 03:00:00 AM,2009/08/04 04:45:00 AM,Nippon Cargo Airlines,Nippon Cargo Airlines,B747-400,NaN,50-01,2025/05/01 10:30:44 PM,2025/05/02 04:26:34 PM
176463,290,standing,2009/08/03 03:00:00 AM,2009/08/03 04:45:00 AM,Nippon Cargo Airlines,Nippon Cargo Airlines,B747-400,NaN,50-01,2025/05/01 10:30:44 PM,2025/05/02 04:26:34 PM
176464,290,standing,2009/08/02 03:00:00 AM,2009/08/02 04:45:00 AM,Nippon Cargo Airlines,Nippon Cargo Airlines,B747-400,NaN,50-01,2025/05/01 10:30:44 PM,2025/05/02 04:26:34 PM
176465,290,standing,2009/08/01 03:00:00 AM,2009/08/01 04:45:00 AM,Nippon Cargo Airlines,Nippon Cargo Airlines,B747-400,NaN,50-01,2025/05/01 10:30:44 PM,2025/05/02 04:26:34 PM

In [ ]:
import pandas as pd

def find_date_column(df):
    possible_date_cols = []

    for col in df.columns:
        try:
            parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
            valid_dates = parsed.notna().sum() / len(df)  # Percentage of valid entries

            # Ensure column was originally non-numeric before conversion
            is_object_or_string = df[col].dtype == "object" or pd.api.types.is_string_dtype(df[col])

            print(f"üîé Checking '{col}': {valid_dates:.2%} valid dates | Type: {df[col].dtype}")  # Debugging

            if valid_dates > 0.6 and is_object_or_string:  # At least 60% valid dates & originally text-based
                possible_date_cols.append(col)
        except Exception as e:
            print(f"‚ö†Ô∏è Error processing '{col}': {e}")

    return possible_date_cols[0] if possible_date_cols else None

# Example usage:
date_col = find_date_column(df)
print(f"üìÖ Detected date column: {date_col}" if date_col else "‚ùå No date column detected!")

üîé Checking 'Source ID': 100.00% valid dates | Type: int64
üîé Checking 'Source Type': 0.00% valid dates | Type: object

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

üîé Checking 'Start Date': 100.00% valid dates | Type: object
üîé Checking 'End Date': 100.00% valid dates | Type: object
üîé Checking 'Reserving Company': 0.00% valid dates | Type: object
üîé Checking 'Operator Company': 0.00% valid dates | Type: object
üîé Checking 'Model': 0.00% valid dates | Type: object

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

üîé Checking 'Tail Number': 0.00% valid dates | Type: object
üîé Checking 'Spot': 23.70% valid dates | Type: object
üîé Checking 'data_as_of': 100.00% valid dates | Type: object
üîé Checking 'data_loaded_at': 100.00% valid dates | Type: object
üìÖ Detected date column: Start Date

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

In [ ]:
df.loc[df.index[-50:], date_col] = pd.to_datetime(df[date_col], errors='coerce').dt.strftime('%B %d, %Y')

print(df)

count_written = df[date_col].astype(str).str.match(r'^[A-Za-z]+ \d{1,2}, \d{4}$').sum()
print(f"{count_written} dates are in written format! This data is inconsistent. Consider makeing entire {date_col} column the same format.")

<ipython-input-3-2468396108>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.loc[df.index[-50:], date_col] = pd.to_datetime(df[date_col], errors='coerce').dt.strftime('%B %d, %Y')

        Source ID Source Type              Start Date                End Date  \
0          296461      callin  2025/03/30 10:00:00 PM  2025/03/31 07:00:00 AM
1          296441      callin  2025/03/30 11:45:00 PM  2025/03/31 06:30:00 AM
2          296113      callin  2025/03/30 09:30:00 PM  2025/03/31 08:00:00 AM
3          296111      callin  2025/03/30 09:30:00 PM  2025/03/31 08:00:00 AM
4          296109      callin  2025/03/30 09:30:00 PM  2025/03/31 07:00:00 AM
...           ...         ...                     ...                     ...
176461        290    standing         August 05, 2009  2009/08/05 04:45:00 AM
176462        290    standing         August 04, 2009  2009/08/04 04:45:00 AM
176463        290    standing         August 03, 2009  2009/08/03 04:45:00 AM
176464        290    standing         August 02, 2009  2009/08/02 04:45:00 AM
176465        290    standing         August 01, 2009  2009/08/01 04:45:00 AM

            Reserving Company       Operator Company     Model Tail Number  \
0             Alaska Airlines        Alaska Airlines  B737-900      N293AK
1             Alaska Airlines        Alaska Airlines  B737-900      N297AK
2             Alaska Airlines        Alaska Airlines  B737-900      N318AS
3             Alaska Airlines        Alaska Airlines  B737-900      N419AS
4             Alaska Airlines        Alaska Airlines  B737-800      N524AS
...                       ...                    ...       ...         ...
176461  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176462  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176463  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176464  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176465  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN

         Spot              data_as_of          data_loaded_at
0       B-015  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
1       B-011  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
2       41-19  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
3       41-20  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
4       12-06  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
...       ...                     ...                     ...
176461  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176462  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176463  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176464  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176465  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM

[176466 rows x 11 columns]
50 dates are in written format! This data is inconsistent. Consider makeing entire Start Date column the same format.

In [ ]:
def format_date_columns(df, date_cols, format_string):
    # Ensure date_cols is a list even if a single column name is passed as a string
    if isinstance(date_cols, str):
        date_cols = [date_cols]

    for col in date_cols:
      # Use errors='coerce' in to_datetime to handle potential parsing issues
      df[col] = pd.to_datetime(df[col], errors='coerce', format='mixed').dt.strftime(format_string)
    return df

format_string = '%Y-%m-%d' # Desired output format

# Pass date_col as a list containing the column name
df = format_date_columns(df, date_col, format_string)
print(df)

count_written = df[date_col].astype(str).str.match(r'^[A-Za-z]+ \d{1,2}, \d{4}$').sum()

print(f"{count_written} dates are in written format! {date_col} column is now in the same format. This data is now consistent.")

        Source ID Source Type  Start Date                End Date  \
0          296461      callin  2025-03-30  2025/03/31 07:00:00 AM
1          296441      callin  2025-03-30  2025/03/31 06:30:00 AM
2          296113      callin  2025-03-30  2025/03/31 08:00:00 AM
3          296111      callin  2025-03-30  2025/03/31 08:00:00 AM
4          296109      callin  2025-03-30  2025/03/31 07:00:00 AM
...           ...         ...         ...                     ...
176461        290    standing  2009-08-05  2009/08/05 04:45:00 AM
176462        290    standing  2009-08-04  2009/08/04 04:45:00 AM
176463        290    standing  2009-08-03  2009/08/03 04:45:00 AM
176464        290    standing  2009-08-02  2009/08/02 04:45:00 AM
176465        290    standing  2009-08-01  2009/08/01 04:45:00 AM

            Reserving Company       Operator Company     Model Tail Number  \
0             Alaska Airlines        Alaska Airlines  B737-900      N293AK
1             Alaska Airlines        Alaska Airlines  B737-900      N297AK
2             Alaska Airlines        Alaska Airlines  B737-900      N318AS
3             Alaska Airlines        Alaska Airlines  B737-900      N419AS
4             Alaska Airlines        Alaska Airlines  B737-800      N524AS
...                       ...                    ...       ...         ...
176461  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176462  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176463  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176464  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN
176465  Nippon Cargo Airlines  Nippon Cargo Airlines  B747-400         NaN

         Spot              data_as_of          data_loaded_at
0       B-015  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
1       B-011  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
2       41-19  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
3       41-20  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
4       12-06  2025/05/01 10:29:40 PM  2025/05/02 04:26:34 PM
...       ...                     ...                     ...
176461  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176462  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176463  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176464  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM
176465  50-01  2025/05/01 10:30:44 PM  2025/05/02 04:26:34 PM

[176466 rows x 11 columns]
0 dates are in written format! Start Date column is now in the same format. This data is now consistent.