In [ ]:
import pandas as pd
from google.colab import drive
import numpy as np
from datetime import datetime

drive.mount('/content/drive')

path = '/content/drive/MyDrive/NYC_Cooling_Tower_System_Inspection_Results.csv'

import pandas as pd
df = pd.read_csv(path)
df

Mounted at /content/drive

,BIN,System_ID,Address,Borough,ZIP_Code,Status,Active_Equip,Date,Violation_Code,Law_Section,...,Citation_Text,Summons_Number,Inspection_Type,BBL,Latitude,Longitude,Community_Board,Council_District,Census_Tract,NTA_Code
0,1015834,2000000122,1271 BROADWAY,Manhattan,10001,Inactive,0,5/21/2021,AH8U,24 RCNY §8-05(f)(5),...,NaN,196816281.0,Non-Cycle,1008330078,40.748260,-73.988491,105.0,3.0,7600.0,MN0501
1,1015834,2000000122,1271 BROADWAY,Manhattan,10001,Inactive,0,5/21/2021,AH8C,24 RCNY §8-04(a),...,Respondent is in violation of 24 RCNY 8-04(a)(...,881249959.0,Cycle,1008330078,40.748260,-73.988491,105.0,3.0,7600.0,MN0501
2,1015834,2000000122,1271 BROADWAY,Manhattan,10001,Inactive,0,5/21/2021,AH8D,24 RCNY §8-04(b),...,Compliance inspections must be completed by a ...,881249968.0,Cycle,1008330078,40.748260,-73.988491,105.0,3.0,7600.0,MN0501
3,1015834,2000000122,1271 BROADWAY,Manhattan,10001,Inactive,0,5/21/2021,AH8E,24 RCNY §8-04(c),...,"At the time of inspection, operational records...",NaN,Cycle,1008330078,40.748260,-73.988491,105.0,3.0,7600.0,MN0501
4,1015834,2000000122,1271 BROADWAY,Manhattan,10001,Inactive,0,5/21/2021,AH8L,24 RCNY §8-05(c)(3),...,"At the time of inspection, upon Inspector's re...",881249977.0,Cycle,1008330078,40.748260,-73.988491,105.0,3.0,7600.0,MN0501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119538,2117395,2000001382,3030 3RD AVE,Bronx,10455,Active,1,12/18/2024,NaN,NaN,...,NaN,NaN,Cycle,2023630024,40.819851,-73.913267,201.0,17.0,7100.0,BX0102
119539,4035816,2000003596,82-11 37TH AVE,Queens,11372,Active,1,12/18/2024,AH8S,24 RCNY §8-05(f)(3),...,"At the time of inspection, by either lab repor...",881316462.0,Cycle,4014560041,40.750011,-73.884067,403.0,25.0,28300.0,QN0301
119540,1024795,2000001976,750 7TH AVE,Manhattan,10019,Active,1,12/18/2024,NaN,NaN,...,NaN,NaN,Cycle,1010210026,40.760885,-73.983911,105.0,4.0,12500.0,MN0502
119541,2062884,2000010490,600 EAST 233RD STREET,Bronx,10466,Active,1,12/18/2024,NaN,NaN,...,NaN,NaN,Cycle,2048230024,40.893518,-73.861225,212.0,12.0,42000.0,BX1203
119542,1024798,2000001977,200 W 50TH ST,Manhattan,10019,Active,1,12/18/2024,NaN,NaN,...,NaN,NaN,Cycle,1010210036,40.761099,-73.983644,105.0,4.0,12500.0,MN0502

In [ ]:
import pandas as pd

def find_date_column(df):
    possible_date_cols = []

    for col in df.columns:
        try:
            parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
            valid_dates = parsed.notna().sum() / len(df)  # Percentage of valid entries

            # Ensure column was originally non-numeric before conversion
            is_object_or_string = df[col].dtype == "object" or pd.api.types.is_string_dtype(df[col])

            print(f"🔎 Checking '{col}': {valid_dates:.2%} valid dates | Type: {df[col].dtype}")  # Debugging

            if valid_dates > 0.6 and is_object_or_string:  # At least 60% valid dates & originally text-based
                possible_date_cols.append(col)
        except Exception as e:
            print(f"⚠️ Error processing '{col}': {e}")

    return possible_date_cols[0] if possible_date_cols else None

# Example usage:
date_col = find_date_column(df)
print(f"📅 Detected date column: {date_col}" if date_col else "❌ No date column detected!")

🔎 Checking 'BIN': 100.00% valid dates | Type: int64
🔎 Checking 'System_ID': 100.00% valid dates | Type: int64

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

🔎 Checking 'Address': 0.09% valid dates | Type: object
🔎 Checking 'Borough': 0.00% valid dates | Type: object
🔎 Checking 'ZIP_Code': 0.00% valid dates | Type: object
🔎 Checking 'Status': 0.00% valid dates | Type: object
🔎 Checking 'Active_Equip': 100.00% valid dates | Type: int64
🔎 Checking 'Date': 100.00% valid dates | Type: object
🔎 Checking 'Violation_Code': 0.00% valid dates | Type: object
🔎 Checking 'Law_Section': 0.00% valid dates | Type: object
🔎 Checking 'Violation_Text': 0.00% valid dates | Type: object
🔎 Checking 'Violation_Type': 0.00% valid dates | Type: object

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

🔎 Checking 'Citation_Text': 0.00% valid dates | Type: object
🔎 Checking 'Summons_Number': 44.96% valid dates | Type: float64
🔎 Checking 'Inspection_Type': 0.00% valid dates | Type: object
🔎 Checking 'BBL': 100.00% valid dates | Type: int64
🔎 Checking 'Latitude': 99.96% valid dates | Type: float64
🔎 Checking 'Longitude': 99.96% valid dates | Type: float64
🔎 Checking 'Community_Board': 99.96% valid dates | Type: float64
🔎 Checking 'Council_District': 99.96% valid dates | Type: float64
🔎 Checking 'Census_Tract': 99.78% valid dates | Type: float64
🔎 Checking 'NTA_Code': 0.00% valid dates | Type: object
📅 Detected date column: Date

<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime
<ipython-input-2-3344209>:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  parsed = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime

In [ ]:
df.loc[df.index[-50:], date_col] = pd.to_datetime(df[date_col], errors='coerce').dt.strftime('%B %d, %Y')

print(df)

count_written = df[date_col].astype(str).str.match(r'^[A-Za-z]+ \d{1,2}, \d{4}$').sum()
print(f"{count_written} dates are in written format! This data is inconsistent. Consider makeing entire {date_col} column the same format.")

            BIN   System_ID                Address    Borough ZIP_Code  \
0       1015834  2000000122          1271 BROADWAY  Manhattan    10001
1       1015834  2000000122          1271 BROADWAY  Manhattan    10001
2       1015834  2000000122          1271 BROADWAY  Manhattan    10001
3       1015834  2000000122          1271 BROADWAY  Manhattan    10001
4       1015834  2000000122          1271 BROADWAY  Manhattan    10001
...         ...         ...                    ...        ...      ...
119538  2117395  2000001382           3030 3RD AVE      Bronx    10455
119539  4035816  2000003596         82-11 37TH AVE     Queens    11372
119540  1024795  2000001976            750 7TH AVE  Manhattan    10019
119541  2062884  2000010490  600 EAST 233RD STREET      Bronx    10466
119542  1024798  2000001977          200 W 50TH ST  Manhattan    10019

          Status  Active_Equip               Date Violation_Code  \
0       Inactive             0          5/21/2021           AH8U
1       Inactive             0          5/21/2021           AH8C
2       Inactive             0          5/21/2021           AH8D
3       Inactive             0          5/21/2021           AH8E
4       Inactive             0          5/21/2021           AH8L
...          ...           ...                ...            ...
119538    Active             1  December 18, 2024            NaN
119539    Active             1  December 18, 2024           AH8S
119540    Active             1  December 18, 2024            NaN
119541    Active             1  December 18, 2024            NaN
119542    Active             1  December 18, 2024            NaN

                Law_Section  ...  \
0       24 RCNY §8-05(f)(5)  ...
1          24 RCNY §8-04(a)  ...
2          24 RCNY §8-04(b)  ...
3          24 RCNY §8-04(c)  ...
4       24 RCNY §8-05(c)(3)  ...
...                     ...  ...
119538                  NaN  ...
119539  24 RCNY §8-05(f)(3)  ...
119540                  NaN  ...
119541                  NaN  ...
119542                  NaN  ...

                                            Citation_Text Summons_Number  \
0                                                     NaN    196816281.0
1       Respondent is in violation of 24 RCNY 8-04(a)(...    881249959.0
2       Compliance inspections must be completed by a ...    881249968.0
3       At the time of inspection, operational records...            NaN
4       At the time of inspection, upon Inspector's re...    881249977.0
...                                                   ...            ...
119538                                                NaN            NaN
119539  At the time of inspection, by either lab repor...    881316462.0
119540                                                NaN            NaN
119541                                                NaN            NaN
119542                                                NaN            NaN

       Inspection_Type         BBL   Latitude  Longitude  Community_Board  \
0            Non-Cycle  1008330078  40.748260 -73.988491            105.0
1                Cycle  1008330078  40.748260 -73.988491            105.0
2                Cycle  1008330078  40.748260 -73.988491            105.0
3                Cycle  1008330078  40.748260 -73.988491            105.0
4                Cycle  1008330078  40.748260 -73.988491            105.0
...                ...         ...        ...        ...              ...
119538           Cycle  2023630024  40.819851 -73.913267            201.0
119539           Cycle  4014560041  40.750011 -73.884067            403.0
119540           Cycle  1010210026  40.760885 -73.983911            105.0
119541           Cycle  2048230024  40.893518 -73.861225            212.0
119542           Cycle  1010210036  40.761099 -73.983644            105.0

        Council_District  Census_Tract  NTA_Code
0                    3.0        7600.0    MN0501
1                    3.0        7600.0    MN0501
2                    3.0        7600.0    MN0501
3                    3.0        7600.0    MN0501
4                    3.0        7600.0    MN0501
...                  ...           ...       ...
119538              17.0        7100.0    BX0102
119539              25.0       28300.0    QN0301
119540               4.0       12500.0    MN0502
119541              12.0       42000.0    BX1203
119542               4.0       12500.0    MN0502

[119543 rows x 22 columns]
50 dates are in written format! This data is inconsistent. Consider makeing entire Date column the same format.

In [ ]:
def format_date_columns(df, date_cols, format_string):
    # Ensure date_cols is a list even if a single column name is passed as a string
    if isinstance(date_cols, str):
        date_cols = [date_cols]

    for col in date_cols:
      # Use errors='coerce' in to_datetime to handle potential parsing issues
      df[col] = pd.to_datetime(df[col], errors='coerce', format='mixed').dt.strftime(format_string)
    return df

format_string = '%Y-%m-%d' # Desired output format

# Pass date_col as a list containing the column name
df = format_date_columns(df, date_col, format_string)
print(df)

count_written = df[date_col].astype(str).str.match(r'^[A-Za-z]+ \d{1,2}, \d{4}$').sum()

print(f"{count_written} dates are in written format! {date_col} column is now in the same format. This data is now consistent.")

            BIN   System_ID                Address    Borough ZIP_Code  \
0       1015834  2000000122          1271 BROADWAY  Manhattan    10001
1       1015834  2000000122          1271 BROADWAY  Manhattan    10001
2       1015834  2000000122          1271 BROADWAY  Manhattan    10001
3       1015834  2000000122          1271 BROADWAY  Manhattan    10001
4       1015834  2000000122          1271 BROADWAY  Manhattan    10001
...         ...         ...                    ...        ...      ...
119538  2117395  2000001382           3030 3RD AVE      Bronx    10455
119539  4035816  2000003596         82-11 37TH AVE     Queens    11372
119540  1024795  2000001976            750 7TH AVE  Manhattan    10019
119541  2062884  2000010490  600 EAST 233RD STREET      Bronx    10466
119542  1024798  2000001977          200 W 50TH ST  Manhattan    10019

          Status  Active_Equip        Date Violation_Code  \
0       Inactive             0  2021-05-21           AH8U
1       Inactive             0  2021-05-21           AH8C
2       Inactive             0  2021-05-21           AH8D
3       Inactive             0  2021-05-21           AH8E
4       Inactive             0  2021-05-21           AH8L
...          ...           ...         ...            ...
119538    Active             1  2024-12-18            NaN
119539    Active             1  2024-12-18           AH8S
119540    Active             1  2024-12-18            NaN
119541    Active             1  2024-12-18            NaN
119542    Active             1  2024-12-18            NaN

                Law_Section  ...  \
0       24 RCNY §8-05(f)(5)  ...
1          24 RCNY §8-04(a)  ...
2          24 RCNY §8-04(b)  ...
3          24 RCNY §8-04(c)  ...
4       24 RCNY §8-05(c)(3)  ...
...                     ...  ...
119538                  NaN  ...
119539  24 RCNY §8-05(f)(3)  ...
119540                  NaN  ...
119541                  NaN  ...
119542                  NaN  ...

                                            Citation_Text Summons_Number  \
0                                                     NaN    196816281.0
1       Respondent is in violation of 24 RCNY 8-04(a)(...    881249959.0
2       Compliance inspections must be completed by a ...    881249968.0
3       At the time of inspection, operational records...            NaN
4       At the time of inspection, upon Inspector's re...    881249977.0
...                                                   ...            ...
119538                                                NaN            NaN
119539  At the time of inspection, by either lab repor...    881316462.0
119540                                                NaN            NaN
119541                                                NaN            NaN
119542                                                NaN            NaN

       Inspection_Type         BBL   Latitude  Longitude  Community_Board  \
0            Non-Cycle  1008330078  40.748260 -73.988491            105.0
1                Cycle  1008330078  40.748260 -73.988491            105.0
2                Cycle  1008330078  40.748260 -73.988491            105.0
3                Cycle  1008330078  40.748260 -73.988491            105.0
4                Cycle  1008330078  40.748260 -73.988491            105.0
...                ...         ...        ...        ...              ...
119538           Cycle  2023630024  40.819851 -73.913267            201.0
119539           Cycle  4014560041  40.750011 -73.884067            403.0
119540           Cycle  1010210026  40.760885 -73.983911            105.0
119541           Cycle  2048230024  40.893518 -73.861225            212.0
119542           Cycle  1010210036  40.761099 -73.983644            105.0

        Council_District  Census_Tract  NTA_Code
0                    3.0        7600.0    MN0501
1                    3.0        7600.0    MN0501
2                    3.0        7600.0    MN0501
3                    3.0        7600.0    MN0501
4                    3.0        7600.0    MN0501
...                  ...           ...       ...
119538              17.0        7100.0    BX0102
119539              25.0       28300.0    QN0301
119540               4.0       12500.0    MN0502
119541              12.0       42000.0    BX1203
119542               4.0       12500.0    MN0502

[119543 rows x 22 columns]
0 dates are in written format! Date column is now in the same format. This data is now consistent.