In [ ]:
import pandas as pd
from google.colab import drive
import numpy as np
from datetime import datetime

drive.mount('/content/drive')

path = '/content/drive/MyDrive/UK-US_numbers.csv'

import pandas as pd
df = pd.read_csv(path)
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

          name  numberUKF  numberUKM  numberUSF  numberUSM
0       Aadhya         37          0          0          0
1       Aadila          3          0          0          0
2      Aaditri          3          0          0          0
3        Aadya         68          7        113          0
4      Aaeesha         15          0          0          0
...        ...        ...        ...        ...        ...
37592    Davyd          0          0          0         55
37593   Deklyn          0          0          0         55
37594  Donivin          0          0          0         55
37595  Dontray          0          0          0         55
37596     Doug          0          0          0         55

[37597 rows x 5 columns]

In [ ]:
import pandas as pd
import re

# Regex patterns for names
full_name_pattern = re.compile(r'^[A-Z][a-z]+\s[A-Z][a-z]+$', re.IGNORECASE)  # "John Doe"
single_name_pattern = re.compile(r'^[A-Z][a-z]+$', re.IGNORECASE)  # "John" or "Doe"

# Common non-name values (race, gender labels, etc.)
non_name_values = {"male", "female", "nonbinary", "black", "white", "asian", "hispanic", "latino", "native"}

# Function to refine name column detection
def find_name_columns(df):
    name_columns = []

    for column in df.columns:
        values = df[column].astype(str)

        match_count_full = values.apply(lambda x: bool(full_name_pattern.match(x))).sum()
        match_count_single = values.apply(lambda x: bool(single_name_pattern.match(x))).sum()
        non_name_count = values.apply(lambda x: x.lower() in non_name_values).sum()

        # Check if values are consistently short (likely a name, not descriptive text)
        avg_word_count = values.apply(lambda x: len(str(x).split())).mean()

        # Consider a column a "name column" if:
        # - At least 70% of values match name patterns
        # - Less than 10% match race/gender labels
        # - Word count average is **≤ 2** (filters out descriptive categorical data)
        if max(match_count_full, match_count_single) / len(values) > 0.7 and non_name_count / len(values) < 0.1 and avg_word_count <= 2:
            name_columns.append(column)

    return name_columns

# Identify columns containing names
name_columns = find_name_columns(df)

# Print results
if name_columns:
    print(f"✅ Name columns found: {name_columns}")
else:
    print("❌ No name columns detected.")

✅ Name columns found: ['name']

In [ ]:
import pandas as pd


# Function to extract only the first letter of names
def first_letter_only(name):
    return name[0] if isinstance(name, str) and name.strip() != "" else ""  # Ensures valid input

# Apply transformation **only to first 50 rows**
df.loc[:49, name_columns] = df.loc[:49, name_columns].applymap(first_letter_only)

# Print results
print(df.head(50))  # Show first 50 modified rows

   name  numberUKF  numberUKM  numberUSF  numberUSM
0     A         37          0          0          0
1     A          3          0          0          0
2     A          3          0          0          0
3     A         68          7        113          0
4     A         15          0          0          0
5     A         46          0          0          0
6     A         10          0          0          0
7     A         33          0          0          0
8     A         50          0          0          0
9     A          9          0          0          0
10    A         44          0        117          0
11    A         10          0          0          0
12    A         51          0          0          0
13    A          3          0          0          0
14    A         59          0          0          0
15    A          9          0          0          0
16    A         49          0          0          0
17    A         27          0          0          0
18    A        571          0          0          0
19    A          6          0          0          0
20    A        206          0          0          0
21    A         18          0          0          0
22    A         41          0          0          0
23    A         11          0          0          0
24    A         10          0          0          0
25    A        138          0          0          0
26    A          3          0          0          0
27    A         28          0          0          0
28    A         12          0          0          0
29    A          3          0          0          0
30    A         41          0        276          0
31    A          3          0          0          0
32    A          6          0          0          0
33    A         10          0          0          0
34    A         99          0        221          0
35    A        236          0        146          0
36    A        159          0        451          0
37    A         14          0          0          0
38    A         13          0          0          0
39    A        447          0        497          0
40    A       6342          0      36235          0
41    A          3          0          0          0
42    A          7          0          0          0
43    A          3          0          0          0
44    A          6          0          0          0
45    A         18          0          0          0
46    A         30          0        253          0
47    A          3          0          0          0
48    A          3          0          0          0
49    A          3          0        375          0

<ipython-input-7-2400b8188af2>:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[:49, name_columns] = df.loc[:49, name_columns].applymap(first_letter_only)

In [ ]:
import pandas as pd

# Function to classify individual values
def classify_name(value):
    value = str(value).strip()
    if len(value) == 1:  # Single character = Initial
        return "Initial"
    elif len(value) > 1:  # More than one character = Full Name
        return "Full Name"
    else:
        return "Unknown"


# Apply classification function to each value
for col in name_columns:
    df[f"{col} Type"] = df[col].apply(classify_name)

# Count full names and initials
for col in name_columns:
    full_names_count = (df[f"{col} Type"] == "Full Name").sum()
    initials_count = (df[f"{col} Type"] == "Initial").sum()

    # Print results
    print(f"❌ {col}: {full_names_count} full names, {initials_count} initials, Data is inconsistent. Suggest getting the full name for values with just initials.")

❌ name: 37540 full names, 57 initials, Data is inconsistent. Suggest getting the full name for values with just initials.